@page
@model Jabar.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Order</h1>

<h4>OrderItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderItem.VendorSKU" class="control-label"></label>
                <select asp-for="VendorsModel" asp-items="@Model.VendorsModelId">
                    <option>Select one</option>
                </select>
                <span asp-validation-for="OrderItem.VendorSKU" class="text-danger"></span>
                <a asp-page="../Vendors/Create" class="btn btn-primary">Add Vendor</a>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseOrder.DateOrdered" class="control-label"></label>
                <input asp-for="PurchaseOrder.DateOrdered" class="form-control" />
                <span asp-validation-for="PurchaseOrder.DateOrdered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.DateDelivered" class="control-label"></label>
                <input asp-for="OrderItem.DateDelivered" class="form-control" />
                <span asp-validation-for="OrderItem.DateDelivered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.Price" class="control-label"></label>
                <input asp-for="OrderItem.Price" class="form-control" />
                <span asp-validation-for="OrderItem.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.QuantityOrdered" class="control-label"></label>
                <input asp-for="OrderItem.QuantityOrdered" class="form-control" />
                <span asp-validation-for="OrderItem.QuantityOrdered" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OrderItem.LastModifiedBy" class="control-label"></label>
                <input asp-for="OrderItem.LastModifiedBy" class="form-control" />
                <span asp-validation-for="OrderItem.LastModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.LastModifiedDate" class="control-label"></label>
                <input asp-for="OrderItem.LastModifiedDate" class="form-control" />
                <span asp-validation-for="OrderItem.LastModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.ItemId" class="control-label"></label>
                <select asp-for="OrderItem.ItemId" class="form-control" asp-items="ViewBag.ItemId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.PurchaseOrderId" class="control-label"></label>
                <select asp-for="OrderItem.PurchaseOrderId" class="form-control" asp-items="ViewBag.PurchaseOrderId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
