@page
@model Jabar.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Order</h1>

<h4>OrderItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderItem.VendorSKU" class="control-label"></label>
                <select asp-for="VendorsModel" asp-items="@Model.VendorsModelId">
                    <option>Select one</option>
                </select>
                <span asp-validation-for="OrderItem.VendorSKU" class="text-danger"></span>
                <a asp-page="../Vendors/Create" class="btn btn-primary">Add Vendor</a>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseOrder.DateOrdered" class="control-label"></label>
                <input asp-for="PurchaseOrder.DateOrdered" class="form-control" />
                <span asp-validation-for="PurchaseOrder.DateOrdered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.DateDelivered" class="control-label"></label>
                <input asp-for="OrderItem.DateDelivered" class="form-control" />
                <span asp-validation-for="OrderItem.DateDelivered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Items.ItemName" class="control-label"></label>
                <select asp-for="Items" asp-items="@Model.ItemName">
                    <option>Select one</option>
                </select>
                <span asp-validation-for="Items.ItemName" class="text-danger"></span>
                <a asp-page="ItemCreate" class="btn btn-primary" data-toggle="modal" data-target="#createItemModal">Add Part</a>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.Price" class="control-label"></label>
                <input asp-for="OrderItem.Price" class="form-control" />
                <span asp-validation-for="OrderItem.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.QuantityOrdered" class="control-label"></label>
                <input asp-for="OrderItem.QuantityOrdered" class="form-control" />
                <span asp-validation-for="OrderItem.QuantityOrdered" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OrderItem.LastModifiedBy" class="control-label"></label>
                <input asp-for="OrderItem.LastModifiedBy" class="form-control" />
                <span asp-validation-for="OrderItem.LastModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.LastModifiedDate" class="control-label"></label>
                <input asp-for="OrderItem.LastModifiedDate" class="form-control" />
                <span asp-validation-for="OrderItem.LastModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.ItemId" class="control-label"></label>
                <select asp-for="OrderItem.ItemId" class="form-control" asp-items="ViewBag.ItemId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.PurchaseOrderId" class="control-label"></label>
                <select asp-for="OrderItem.PurchaseOrderId" class="form-control" asp-items="ViewBag.PurchaseOrderId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>



<script>@Model.Index</script>

<!--Create Item Modal -->
<div class="modal fade" id="createItemModal" tabindex="-1" role="dialog" aria-labelledby="createItemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createItemModalLabel">Create Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-10">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Items.ItemName" class="control-label"></label>
                                <input asp-for="Items.ItemName" class="form-control" />
                                <span asp-validation-for="Items.ItemName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Items.Description" class="control-label"></label>
                                <input asp-for="Items.Description" class="form-control" />
                                <span asp-validation-for="Items.Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Items.OnHandQty" class="control-label"></label>
                                <input asp-for="Items.OnHandQty" class="form-control" />
                                <span asp-validation-for="Items.OnHandQty" class="text-danger"></span>
                            </div>
                            @*<div class="form-group">
                                    <label asp-for="Item.ListRetailCost" class="control-label"></label>
                                    <input asp-for="Item.ListRetailCost" class="form-control" />
                                    <span asp-validation-for="Item.ListRetailCost" class="text-danger"></span>
                                </div>*@
                            <div class="form-group">
                                <label asp-for="Items.ReorderQty" class="control-label"></label>
                                <input asp-for="Items.ReorderQty" class="form-control" />
                                <span asp-validation-for="Items.ReorderQty" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Items.MaxQty" class="control-label"></label>
                                <input asp-for="Items.MaxQty" class="form-control" />
                                <span asp-validation-for="Items.MaxQty" class="text-danger"></span>
                            </div>
                            @*<div class="form-group">
                                    <label asp-for="Item.MeasureAmnt" class="control-label"></label>
                                    <input asp-for="Item.MeasureAmnt" class="form-control" />
                                    <span asp-validation-for="Item.MeasureAmnt" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Item.LastModifiedBy" class="control-label"></label>
                                    <input asp-for="Item.LastModifiedBy" class="form-control" />
                                    <span asp-validation-for="Item.LastModifiedBy" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Item.MeasureID" class="control-label"></label>
                                    <input asp-for="Item.MeasureID" class="form-control" />
                                    <span asp-validation-for="Item.MeasureID" class="text-danger"></span>
                                </div>*@
                            <div class="form-group">
                                <button asp-page-handler="Create" class="btn btn-primary">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


