@page
@model Jabar.Pages.AssemblyRecipes.IndexModel

@{
    ViewData["Title"] = "Assembly Index";
}

<h1>Assembly Index</h1>

<p>
    <a asp-page="Create" class="btn btn-outline-dark">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssemblyRecipe[0].Item)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AssemblyRecipe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item.ItemName)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.AssemblyRecipeId" class="btn btn-outline-dark col-3">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AssemblyRecipeId" class="btn btn-danger col-3">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
