@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
        <a asp-page="/Inventory" class="btn btn-outline-dark col-12 m-1">Inventory</a>
        <a asp-page="/Orders/Index" class="btn btn-outline-dark col-12 m-1">Orders</a>
        <a asp-page="/AssemblyRecipes/Index" class="btn btn-outline-dark col-12 m-1">Assemble</a>
        <a asp-page="/Vendors/Index" class="btn btn-outline-dark col-12 m-1">Vendor</a>
        <a asp-page="/Reports" class="btn btn-outline-dark col-12 m-1">Reports</a>
        <a asp-page="/Alerts" class="btn btn-outline-dark col-12 m-1">Alerts</a>
</div>

<!-- TODO Popup box alerting user to any alerts -->
<!-- TODO Popup warning on bottom of page alerting user of any alerts -->
