@page
@model Jabar.Pages.RecipeLineCreateModel

@{
    ViewData["Title"] = "RecipeLineCreate";
}

<h1>RecipeLineCreate</h1>

<h4>RecipeLine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RecipeLine.RequiredItemQty" class="control-label"></label>
                <input asp-for="RecipeLine.RequiredItemQty" class="form-control" />
                <span asp-validation-for="RecipeLine.RequiredItemQty" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="RecipeLine.ItemId" class="control-label"></label>
                <select asp-for="RecipeLine.ItemId" class="form-control" asp-items="ViewBag.ItemName"></select>
            </div>           

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
