@page
@model Jabar.Pages.ReportsModel
@{
    ViewData["Title"] = "Reports";
}

<h1 class="text-center p-4">Reports</h1>

<div>
    <button class="btn btn-outline-dark col-12 m-1">Items</button>
    <button class="btn btn-outline-dark col-12 m-1">Other</button>
</div>
