@page
@model Jabar.Pages.VendorModel
@{
    ViewData["Title"] = "Vendor";
}

<h1 class="text-center">Vendors</h1>

<head>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<div class="row p-2 border border-dark">

    <div class="col-sm-6">
        Name
    </div>
    <div class="col-sm-3">
        Details
    </div>
    <div class="col-sm-3">
        Purchase History
    </div>
</div>

<div class="row p-4">
    <i class="far fa-plus-circle" style="font-size:24px;"></i>
</div>